form {
  align-items:center;
  display: flex;
  height: 100vh;
}
input.form-control {
  display: inherit;
  margin: 0 10px;
  width: 100px;
}
#timer {
  align-items:center;
  display: flex;
  font-size: 50vmin;
  height: 100vh;
  justify-content:center;
  width: 100%;
}
